In [1]:
import graphlab

In [2]:
image_train = graphlab.SFrame('image_train_data/')

This non-commercial license of GraphLab Create for academic use is assigned to bhavinivp@gmail.com and will expire on May 19, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\bhavi\AppData\Local\Temp\graphlab_server_1529675137.log.0

In [3]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

In [ ]:
###Creating Nearest Neighbour model to retrieve images using deep features

In [4]:
knn_model = graphlab.nearest_neighbors.create(image_train, features = ['deep_features'] , label = 'id')

Starting brute force nearest neighbors model training.

In [ ]:
##Query nearest neighbor model to retrieve images of similar features

In [ ]:
#graphlab.canvas.set_target('ipynb')

In [5]:
cat = image_train[18:19]['image'].show()

Canvas is accessible via web browser at the URL: http://localhost:50514/index.html
Opening Canvas in default web browser.

In [13]:
cat = image_train[18:19]

In [14]:
cat.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+-----+----------------------+-------+-------------------------------+
|  id |        image         | label |         deep_features         |
+-----+----------------------+-------+-------------------------------+
| 384 | Height: 32 Width: 32 |  cat  | [1.04403531551, 0.0, 0.0, ... |
+-----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [46.0, 45.0, 50.0, 47.0, 4... |
+-------------------------------+
[1 rows x 5 columns]

In [15]:
cat['image'].show()

Canvas is updated and available in a tab in the default browser.

In [ ]:
##retrieve similar images using the query

In [16]:
knn_model.query(cat)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 10.993ms     |

| Done         |         | 100         | 233.856ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |       384       |      0.0      |  1   |
|      0      |       6910      | 36.9403137951 |  2   |
|      0      |      39777      | 38.4634888975 |  3   |
|      0      |      36870      | 39.7559623119 |  4   |
|      0      |      41734      | 39.7866014148 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [17]:
def get_images_ids(query_result):
    return image_train.filter_by(query_result['reference_label'] , 'id')

In [18]:
cat_neighbors = get_images_ids(knn_model.query(cat))

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 12.991ms     |

| Done         |         | 100         | 219.225ms    |

+--------------+---------+-------------+--------------+

In [19]:
cat_neighbors['image'].show()

Canvas is updated and available in a tab in the default browser.

In [20]:
car = image_train[8:9]

In [21]:
car.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [35.0, 59.0, 53.0, 36.0, 5... |
+-------------------------------+
[1 rows x 5 columns]

In [22]:
car['image'].show()

Canvas is updated and available in a tab in the default browser.

In [ ]:
##lamda

In [23]:
show_neighbors = lambda i :get_images_ids(knn_model.query(image_train[i:i+1])).show()

In [24]:
show_neighbors(8)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 16.989ms     |

| Done         |         | 100         | 197.361ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [25]:
show_neighbors(2000)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 19.99ms      |

| Done         |         | 100         | 238.858ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [26]:
show_neighbors(8).show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.0498753   | 13.992ms     |

| Done         |         | 100         | 221.863ms    |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

AttributeError: 'NoneType' object has no attribute 'show'

In [ ]:
######ASSIGNMENT.

In [ ]:
#Using the training data, compute the sketch summary of the ‘label’ column and interpret the results. #
#What’s the least common category in the training data? Save this result to answer the quiz at the end.#

In [27]:
pk = image_train['label']

In [28]:
pk.head()

dtype: str
Rows: 10
['bird', 'cat', 'cat', 'dog', 'bird', 'automobile', 'dog', 'bird', 'automobile', 'bird']

In [29]:
image_train.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+-----+----------------------+------------+-------------------------------+
|  id |        image         |   label    |         deep_features         |
+-----+----------------------+------------+-------------------------------+
|  24 | Height: 32 Width: 32 |    bird    | [0.242871761322, 1.0954537... |
|  33 | Height: 32 Width: 32 |    cat     | [0.525087952614, 0.0, 0.0,... |
|  36 | Height: 32 Width: 32 |    cat     | [0.566015958786, 0.0, 0.0,... |
|  70 | Height: 32 Width: 32 |    dog     | [1.12979578972, 0.0, 0.0, ... |
|  90 | Height: 32 Width: 32 |    bird    | [1.71786928177, 0.0, 0.0, ... |
|  97 | Height: 32 Width: 32 | automobile | [1.57818555832, 0.0, 0.0, ... |
| 107 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.220677852631,... |
| 121 | Height: 32 Width: 32 |    bird    | [0.0, 0.23753464222, 0.0, ... |
| 136 | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 138 | Height: 32 Width: 32 |    bird    | [0.658935725689, 0.0, 0.0,... |
+-----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [73.0, 77.0, 58.0, 71.0, 6... |
| [7.0, 5.0, 8.0, 7.0, 5.0, ... |
| [169.0, 122.0, 65.0, 131.0... |
| [154.0, 179.0, 152.0, 159.... |
| [216.0, 195.0, 180.0, 201.... |
| [33.0, 44.0, 27.0, 29.0, 4... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [93.0, 96.0, 88.0, 102.0, ... |
| [35.0, 59.0, 53.0, 36.0, 5... |
| [205.0, 193.0, 195.0, 200.... |
+-------------------------------+
[10 rows x 5 columns]

In [30]:
pk.sketch_summary()

+------------------+-------+----------+
|       item       | value | is exact |
+------------------+-------+----------+
|      Length      |  2005 |   Yes    |
| # Missing Values |   0   |   Yes    |
| # unique values  |   4   |    No    |
+------------------+-------+----------+

Most frequent items:
+-------+------------+-----+-----+------+
| value | automobile | cat | dog | bird |
+-------+------------+-----+-----+------+
| count |    509     | 509 | 509 | 478  |
+-------+------------+-----+-----+------+

In [ ]:
## Creating category-specific image retrieval models: In most retrieval tasks, 
#the data we have is unlabeled, thus we call these unsupervised learning problems. However,
#we have labels in this image dataset, and will use these to create one model for each of the 4 image categories, {‘dog’,’cat’,’automobile’,bird’}. To start, follow these steps:

#Split the SFrame with the training data into 4 different SFrames.

In [31]:
dog = image_train.filter_by(['dog'], 'label')

In [32]:
dog.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+------+----------------------+-------+-------------------------------+
|  id  |        image         | label |         deep_features         |
+------+----------------------+-------+-------------------------------+
|  70  | Height: 32 Width: 32 |  dog  | [1.12979578972, 0.0, 0.0, ... |
| 107  | Height: 32 Width: 32 |  dog  | [0.0, 0.0, 0.220677852631,... |
| 177  | Height: 32 Width: 32 |  dog  | [0.0, 1.45965671539, 0.0, ... |
| 424  | Height: 32 Width: 32 |  dog  | [0.942399680614, 0.0, 0.22... |
| 462  | Height: 32 Width: 32 |  dog  | [1.43462562561, 0.0, 0.0, ... |
| 542  | Height: 32 Width: 32 |  dog  | [0.451547086239, 0.0, 0.0,... |
| 573  | Height: 32 Width: 32 |  dog  | [0.592360973358, 0.0, 0.0,... |
| 851  | Height: 32 Width: 32 |  dog  | [0.690123438835, 0.0, 0.0,... |
| 919  | Height: 32 Width: 32 |  dog  | [0.0, 0.177558660507, 0.13... |
| 1172 | Height: 32 Width: 32 |  dog  | [0.517601490021, 0.0, 1.96... |
+------+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [154.0, 179.0, 152.0, 159.... |
| [97.0, 51.0, 31.0, 104.0, ... |
| [55.0, 75.0, 42.0, 51.0, 7... |
| [60.0, 35.0, 18.0, 63.0, 4... |
| [86.0, 69.0, 75.0, 57.0, 4... |
| [196.0, 174.0, 113.0, 140.... |
| [153.0, 103.0, 52.0, 151.0... |
| [39.0, 6.0, 4.0, 53.0, 23.... |
| [29.0, 43.0, 4.0, 24.0, 35... |
| [182.0, 180.0, 197.0, 196.... |
+-------------------------------+
[10 rows x 5 columns]

In [34]:
dog_model = graphlab.nearest_neighbors.create(dog , features = ['deep_features'] , label = 'id')

Starting brute force nearest neighbors model training.

In [36]:
def modelling (x):
    pk= image_train.filter_by(['x'], 'label')
    pk_model = graphlab.nearest_neighbors.create(pk , features = ['deep_features'] , label = 'id')
    return pk_model

modelling ('cat')

In [37]:
pk_cat = modelling(cat)

ToolkitError: Input dataset either has no rows or no columns. A non-empty SFrame is required.

In [38]:
cat = image_train.filter_by(['cat'] , 'label')

In [39]:
cat_model = graphlab.nearest_neighbors.create(cat , features = ['deep_features'] , label = 'id')

Starting brute force nearest neighbors model training.

In [40]:
automobile = image_train.filter_by(['automobile'] , 'label')
automobile_model = graphlab.nearest_neighbors.create(automobile , features = ['deep_features'] , label = 'id')

Starting brute force nearest neighbors model training.

In [41]:
bird = image_train.filter_by(['bird'] , 'label')
bird_model = graphlab.nearest_neighbors.create(bird , features = ['deep_features'] , label = 'id')

Starting brute force nearest neighbors model training.

In [42]:
cat = image_test[0:1]

NameError: name 'image_test' is not defined

In [43]:
image_test = graphlab.SFrame('image_test_data/')

In [44]:
image_test.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 10

Data:
+----+----------------------+------------+-------------------------------+
| id |        image         |   label    |         deep_features         |
+----+----------------------+------------+-------------------------------+
| 0  | Height: 32 Width: 32 |    cat     | [1.13469004631, 0.0, 0.0, ... |
| 6  | Height: 32 Width: 32 | automobile | [0.23135882616, 0.0, 0.0, ... |
| 8  | Height: 32 Width: 32 |    cat     | [0.0, 0.0, 0.0344192385674... |
| 9  | Height: 32 Width: 32 | automobile | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 12 | Height: 32 Width: 32 |    dog     | [0.322317481041, 0.0, 1.24... |
| 16 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.347357034683,... |
| 24 | Height: 32 Width: 32 |    dog     | [1.31557655334, 0.0, 0.0, ... |
| 25 | Height: 32 Width: 32 |    bird    | [0.0, 0.317288756371, 0.0,... |
| 31 | Height: 32 Width: 32 |    dog     | [0.0, 0.0, 0.0, 0.0, 0.0, ... |
| 33 | Height: 32 Width: 32 |    dog     | [0.130786716938, 0.7276672... |
+----+----------------------+------------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
| [160.0, 37.0, 13.0, 185.0,... |
| [23.0, 19.0, 23.0, 19.0, 2... |
| [217.0, 215.0, 209.0, 210.... |
| [91.0, 64.0, 30.0, 82.0, 5... |
| [95.0, 76.0, 78.0, 92.0, 7... |
| [136.0, 134.0, 118.0, 142.... |
| [100.0, 103.0, 74.0, 68.0,... |
| [127.0, 130.0, 81.0, 130.0... |
| [118.0, 113.0, 81.0, 122.0... |
+-------------------------------+
[10 rows x 5 columns]

In [47]:
cat = image_test[0:1]

In [48]:
cat.show()

Canvas is updated and available in a tab in the default browser.

In [55]:
cat_model.query(cat)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 13.994ms     |

| Done         |         | 100         | 77.953ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+---------------+------+
| query_label | reference_label |    distance   | rank |
+-------------+-----------------+---------------+------+
|      0      |      16289      |  34.623719208 |  1   |
|      0      |      45646      | 36.0068799284 |  2   |
|      0      |      32139      | 36.5200813436 |  3   |
|      0      |      25713      | 36.7548502521 |  4   |
|      0      |       331       | 36.8731228168 |  5   |
+-------------+-----------------+---------------+------+
[5 rows x 4 columns]

In [50]:
dog = image_test[0:1]

In [67]:
dog_model.query(dog).show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.994ms     |

| Done         |         | 100         | 74.954ms     |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [53]:
image_train.filter_by(query_result['reference_label' == 16976] , 'id')

NameError: name 'query_result' is not defined

In [56]:
def get_images_ids(query_result):
    return image_train.filter_by(query_result['reference_label'],'id')
cat_neighbors = get_images_ids(cat_model.query(cat)['reference_label' == 16289])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.993ms     |

| Done         |         | 100         | 70.955ms     |

+--------------+---------+-------------+--------------+

In [59]:
cat_neighbors['image'].show()

Canvas is updated and available in a tab in the default browser.

In [60]:
dog_neighbors = get_images_ids(dog_model.query(dog)['reference_label' == 16976]).show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.994ms     |

| Done         |         | 100         | 67.957ms     |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.

In [61]:
## A simple example of nearest-neighbors classification
##compute the mean distance between this image at its 5 nearest neighbors that were labeled ‘cat’ in the training data
##(similarly to what you did in the previous question). Save this result

In [64]:
cat_pk = image_test[0:1]

In [65]:
cat_pk.head()

Columns:
	id	int
	image	Image
	label	str
	deep_features	array
	image_array	array

Rows: 1

Data:
+----+----------------------+-------+-------------------------------+
| id |        image         | label |         deep_features         |
+----+----------------------+-------+-------------------------------+
| 0  | Height: 32 Width: 32 |  cat  | [1.13469004631, 0.0, 0.0, ... |
+----+----------------------+-------+-------------------------------+
+-------------------------------+
|          image_array          |
+-------------------------------+
| [158.0, 112.0, 49.0, 159.0... |
+-------------------------------+
[1 rows x 5 columns]

In [66]:
cat_model.query(cat).show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.196464    | 11.997ms     |

| Done         |         | 100         | 73.955ms     |

+--------------+---------+-------------+--------------+

Canvas is updated and available in a tab in the default browser.