In [1]:
import graphlab

In [2]:
#load some text data - we are using data from wikipedia

In [3]:
people = graphlab.SFrame('people_wiki.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to bhavinivp@gmail.com and will expire on May 19, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\bhavi\AppData\Local\Temp\graphlab_server_1528635048.log.0

In [4]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [5]:
len(people)

59071

In [6]:
obama = people[people['name'] == 'Barack Obama']

In [7]:
obama.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[1 rows x 3 columns]

In [8]:
obama.text()

AttributeError: 'SFrame' object has no attribute 'text'

In [9]:
obama[text]

NameError: name 'text' is not defined

In [10]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

In [ ]:
#get the word count of the obama article

In [11]:
obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [12]:
obama['word_count']

dtype: dict
Rows: 1
[{'operations': 1L, 'represent': 1L, 'office': 2L, 'unemployment': 1L, 'doddfrank': 1L, 'over': 1L, 'unconstitutional': 1L, 'domestic': 2L, 'major': 1L, 'years': 1L, 'against': 1L, 'proposition': 1L, 'seats': 1L, 'graduate': 1L, 'debate': 1L, 'before': 1L, 'death': 1L, '20': 2L, 'taxpayer': 1L, 'representing': 1L, 'obamacare': 1L, 'barack': 1L, 'to': 14L, '4': 1L, 'policy': 2L, '8': 1L, 'he': 7L, '2011': 3L, '2010': 2L, '2013': 1L, '2012': 1L, 'bin': 1L, 'then': 1L, 'his': 11L, 'march': 1L, 'gains': 1L, 'cuba': 1L, 'school': 3L, '1992': 1L, 'new': 1L, 'not': 1L, 'during': 2L, 'ending': 1L, 'continued': 1L, 'presidential': 2L, 'states': 3L, 'husen': 1L, 'osama': 1L, 'californias': 1L, 'equality': 1L, 'prize': 1L, 'lost': 1L, 'made': 1L, 'inaugurated': 1L, 'january': 3L, 'university': 2L, 'rights': 1L, 'july': 1L, 'gun': 1L, 'stimulus': 1L, 'rodham': 1L, 'troop': 1L, 'withdrawal': 1L, 'brk': 1L, 'nine': 1L, 'where': 1L, 'referred': 1L, 'affordable': 1L, 'attorney': 1L, 'on': 2L, 'often': 1L, 'senate': 3L, 'regained': 1L, 'national': 2L, 'creation': 1L, 'related': 1L, 'hawaii': 1L, 'born': 2L, 'second': 2L, 'defense': 1L, 'election': 3L, 'close': 1L, 'operation': 1L, 'insurance': 1L, 'sandy': 1L, 'afghanistan': 2L, 'initiatives': 1L, 'for': 4L, 'reform': 1L, 'house': 2L, 'review': 1L, 'representatives': 2L, 'current': 1L, 'state': 1L, 'won': 1L, 'limit': 1L, 'victory': 1L, 'unsuccessfully': 1L, 'reauthorization': 1L, 'keynote': 1L, 'full': 1L, 'patient': 1L, 'august': 1L, 'degree': 1L, '44th': 1L, 'bm': 1L, 'mitt': 1L, 'attention': 1L, 'delegates': 1L, 'lgbt': 1L, 'job': 1L, 'harvard': 2L, 'term': 3L, 'served': 2L, 'ask': 1L, 'november': 2L, 'debt': 1L, 'by': 1L, 'wall': 1L, 'care': 1L, 'received': 1L, 'great': 1L, 'signed': 3L, 'libya': 1L, 'receive': 1L, 'of': 18L, 'months': 1L, 'urged': 1L, 'foreign': 2L, 'american': 3L, 'protection': 2L, 'economic': 1L, 'act': 8L, 'military': 4L, 'hussein': 1L, 'or': 1L, 'first': 3L, 'control': 4L, 'named': 1L, 'clinton': 1L, 'dont': 2L, 'campaign': 3L, 'russia': 1L, 'civil': 1L, 'reinvestment': 1L, 'into': 1L, 'address': 1L, 'primary': 2L, 'community': 1L, 'mccain': 1L, 'down': 1L, 'hook': 1L, '63': 1L, 'americans': 1L, 'elementary': 1L, 'total': 1L, 'earning': 1L, 'repeal': 1L, 'from': 3L, 'raise': 1L, 'district': 1L, 'spending': 1L, 'republican': 2L, 'legislation': 1L, 'three': 1L, 'relations': 1L, 'nobel': 1L, 'start': 1L, 'tell': 1L, 'iraq': 4L, 'convention': 1L, 'resulted': 1L, 'john': 1L, 'was': 5L, '2012obama': 1L, 'form': 1L, 'that': 1L, 'tax': 1L, 'sufficient': 1L, 'republicans': 1L, 'strike': 1L, 'hillary': 1L, 'ended': 1L, 'arms': 1L, 'honolulu': 1L, 'filed': 1L, 'worked': 1L, 'hold': 1L, 'with': 3L, 'obama': 9L, 'street': 1L, 'ii': 1L, 'has': 4L, '1997': 1L, '1996': 1L, 'whether': 1L, 'reelected': 1L, 'budget': 1L, 'us': 6L, 'nations': 1L, 'recession': 1L, 'while': 1L, 'taught': 1L, 'marriage': 1L, 'policies': 1L, 'promoted': 1L, 'called': 1L, 'and': 21L, 'supreme': 1L, 'ordered': 3L, 'nominee': 2L, 'process': 1L, '2000in': 1L, 'is': 2L, 'romney': 1L, 'briefs': 1L, 'defeated': 1L, 'general': 1L, '13th': 1L, 'as': 6L, 'at': 2L, 'in': 30L, 'sought': 1L, 'organizer': 1L, 'shooting': 1L, 'increased': 1L, 'normalize': 1L, 'lengthy': 1L, 'united': 3L, 'court': 1L, 'recovery': 1L, 'laden': 1L, 'laureateduring': 1L, 'peace': 1L, 'administration': 1L, '1961': 1L, 'illinois': 2L, 'other': 1L, 'which': 1L, 'party': 3L, 'primaries': 1L, 'sworn': 1L, 'relief': 2L, 'war': 1L, 'columbia': 1L, 'combat': 1L, 'after': 4L, 'islamic': 1L, 'running': 1L, 'levels': 1L, 'two': 1L, 'involvement': 3L, 'response': 3L, 'included': 1L, 'president': 4L, 'law': 6L, 'nomination': 1L, '2008': 1L, 'a': 7L, '2009': 3L, 'chicago': 2L, 'constitutional': 1L, 'defeating': 1L, 'treaty': 1L, 'federal': 1L, '2007': 1L, '2004': 3L, 'african': 1L, 'the': 40L, 'democratic': 4L, 'consumer': 1L, 'began': 1L, 'terms': 1L}]

In [ ]:
#Now sort the words in the disctionary according to the frequency of their appearances
##we are using the inbuilt stact function to create a table with columns " word " and "count"

In [13]:
obama_word_count_table = obama[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [ ]:
#obama['word_count'] = graphlab.text_analytics.count_words(obama['text'])

In [14]:
obama_word_count_table.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+------------------+-------+
|       word       | count |
+------------------+-------+
|    normalize     |   1   |
|      sought      |   1   |
|      combat      |   1   |
|    continued     |   1   |
| unconstitutional |   1   |
|        8         |   1   |
|   californias    |   1   |
|       1996       |   1   |
|     marriage     |   1   |
|     defense      |   1   |
+------------------+-------+
[10 rows x 2 columns]

In [15]:
obama_word_count_table.sort('count' , ascending = False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   a   |   7   |
|   he  |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
##Computing TFIDF - FOR THE CORPUS
#WE WILL COMPUTE THE WORD_COUNT FOR 'PEOPLE'
#THEN WE WILL COMPUTE THE TFIDF

In [16]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [17]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [ ]:
#Compute the TFIDF

In [18]:
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word_count'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[10 rows x 5 columns]

In [ ]:
#examine tfidf for obama article

In [19]:
obama = people[people['name'] == 'Barack Obama']

In [20]:
obama[['tfidf']].stack('tfidf', new_column_name = ['word','tfidf']).sort('tfidf' , ascending = False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
#manaually compute the distance between obama and other personalities to see who is better

In [ ]:
#we will use inbuild function called graphlab.cosine --- so, less the cosine - more is the distance

In [21]:
clinton = people[people['name'] == 'Bill Clinton']

In [22]:
Beckham = people[people['name'] == 'David Beckham']

In [23]:

graphlab.distances.cosine(obama['tfidf'][0],Beckham['tfidf'][0])

0.9791305844747478

In [24]:
graphlab.distances.cosine(obama['tfidf'][0],clinton['tfidf'][0])

0.8339854936884276

In [ ]:
##so, obama is closer to clinton as the cosine distance is small for clinton as compared to beckham

In [ ]:
##Now, lets build and explore K NEAREST NEIGHBOR MODEL 
##GRAPHLAB HAS AN INBUILT FUNCTION TO FIND THE KNN

In [25]:
knn_model = graphlab.nearest_neighbors.create(people, features = ['tfidf'], label = 'name')

Starting brute force nearest neighbors model training.

In [ ]:
##SO, HERE WE ARE GOING TO CHECK FOR OBAMA AGAINST THE PEOPLE CORPUS OBTAINED FROM THE WIKI PAGE

In [26]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.622ms     |

| Done         |         | 100         | 323.473ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [27]:
people.show()

Canvas is accessible via web browser at the URL: http://localhost:56958/index.html
Opening Canvas in default web browser.

In [28]:
def indian_count(word_count):
    if 'indian' in  word_count :
        return word_count['indian']
    return 0

In [29]:
#roducts['great'] = products['word_count'].apply(indian_count)
people['indian'] = people['word_count'].apply(indian_count)

In [30]:
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict
	indian	int

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+--------+
|             tfidf             | indian |
+-------------------------------+--------+
| {'since': 1.45537671730804... |   0    |
| {'precise': 6.443200606955... |   0    |
| {'just': 2.700729968710864... |   0    |
| {'all': 1.6431112434912472... |   0    |
| {'legendary': 4.2808562943... |   0    |
| {'now': 1.96695239252401, ... |   0    |
| {'exclusive': 10.455187230... |   0    |
| {'taxi': 6.052021456094502... |   0    |
| {'houston': 3.935505942157... |   0    |
| {'phenomenon': 5.750053426... |   0    |
+-------------------------------+--------+
[10 rows x 6 columns]

In [31]:
people.show()

Canvas is accessible via web browser at the URL: http://localhost:56958/index.html
Opening Canvas in default web browser.

In [32]:
desi = people[people['indian']!=0]

In [33]:
desi.people()

AttributeError: 'SFrame' object has no attribute 'people'

In [34]:
desi.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict
	indian	int

Rows: 10

Data:
+-------------------------------+-----------------------------+
|              URI              |             name            |
+-------------------------------+-----------------------------+
| <http://dbpedia.org/resour... |     Robert Grant Irving     |
| <http://dbpedia.org/resour... |         Gulzar Banu         |
| <http://dbpedia.org/resour... |         Indu Shahani        |
| <http://dbpedia.org/resour... |     Gioconda Vessichelli    |
| <http://dbpedia.org/resour... | K. Vardachari Thiruvengadam |
| <http://dbpedia.org/resour... |       Devyani Saltzman      |
| <http://dbpedia.org/resour... |        Qayyum Inamdar       |
| <http://dbpedia.org/resour... |          Mammootty          |
| <http://dbpedia.org/resour... |         Chris Karan         |
| <http://dbpedia.org/resour... |      Harm van Veldhoven     |
+-------------------------------+-----------------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| robert grant irving phd is... | {'summer': 2L, 'all': 1L, ... |
| gulzar banu born 1963 is a... | {'office': 1L, 'children':... |
| indu shahani born july 171... | {'all': 1L, 'responsible':... |
| gioconda vessichelli born ... | {'all': 2L, 'rof': 1L, 'go... |
| dr kv thiruvengadam frcpe ... | {'panagal': 1L, 'particula... |
| devyani saltzman is a cana... | {'being': 1L, 'domestic': ... |
| qayyum inamdar was born on... | {'all': 1L, 'committeehono... |
| mammootty born as muhammad... | {'ambassador': 1L, 'panipa... |
| chris karan born chrisosto... | {'acts': 1L, 'indemand': 1... |
| harm van veldhoven dutch p... | {'all': 1L, 'coach': 1L, '... |
+-------------------------------+-------------------------------+
+-------------------------------+--------+
|             tfidf             | indian |
+-------------------------------+--------+
| {'summer': 5.4535568564073... |   3    |
| {'office': 2.6240864116098... |   2    |
| {'all': 1.6431112434912472... |   1    |
| {'all': 3.2862224869824943... |   1    |
| {'panagal': 10.98649538922... |   4    |
| {'being': 1.79380995248773... |   1    |
| {'all': 1.6431112434912472... |   1    |
| {'ambassador': 3.977086456... |   1    |
| {'acts': 4.288227335109782... |   1    |
| {'all': 1.6431112434912472... |   1    |
+-------------------------------+--------+
[10 rows x 6 columns]

In [35]:
desi.show()

Canvas is updated and available in a tab in the default browser.

In [36]:
desi.sort('indian',ascending = False)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict
	indian	int

Rows: 1764

Data:
+-------------------------------+--------------------------------+
|              URI              |              name              |
+-------------------------------+--------------------------------+
| <http://dbpedia.org/resour... |         Praful Thakkar         |
| <http://dbpedia.org/resour... |        Ronald G. Lewis         |
| <http://dbpedia.org/resour... |       Chitra Visweswaran       |
| <http://dbpedia.org/resour... |         Aditya Chopra          |
| <http://dbpedia.org/resour... |          Peter Heehs           |
| <http://dbpedia.org/resour... |          Anil Shorey           |
| <http://dbpedia.org/resour... |          Ausaf Sayeed          |
| <http://dbpedia.org/resour... |          Ilaiyaraaja           |
| <http://dbpedia.org/resour... | Inder Singh (community leader) |
| <http://dbpedia.org/resour... |         David Narcomey         |
+-------------------------------+--------------------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| praful thakkar hobby is fo... | {'websitesfor': 1L, 'exhib... |
| dr ronald lewis born 1941 ... | {'office': 1L, 'lewis': 8L... |
| chitra visweswaran is a bh... | {'all': 5L, 'concept': 3L,... |
| aditya chopra is an indian... | {'detective': 1L, 'directe... |
| peter heehs is an american... | {'affair': 2L, 'writings':... |
| col anil shorey is an infa... | {'operations': 1L, 'corps'... |
| dr ausaf sayeed born septe... | {'composed': 1L, 'all': 1L... |
| ilaiyaraaja born gnanadesi... | {'chandrasekarendra': 1L, ... |
| inder singh is a writer an... | {'currently': 1L, 'global'... |
| david narcomey is a member... | {'aimnarcomey': 1L, 'colle... |
+-------------------------------+-------------------------------+
+-------------------------------+--------+
|             tfidf             | indian |
+-------------------------------+--------+
| {'websitesfor': 10.9864953... |   20   |
| {'office': 2.6240864116098... |   15   |
| {'all': 8.215556217456236,... |   11   |
| {'detective': 5.2661836126... |   11   |
| {'affair': 10.315099543229... |   11   |
| {'operations': 3.811771079... |   10   |
| {'composed': 3.92687776093... |   10   |
| {'chandrasekarendra': 10.9... |   10   |
| {'currently': 1.6370889691... |   9    |
| {'aimnarcomey': 10.9864953... |   9    |
+-------------------------------+--------+
[1764 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [37]:
knn_model.query(desi [desi['name'] == 'Praful Thakkar'])

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.628ms     |

| Done         |         | 100         | 402.344ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Praful Thakkar   |      0.0       |  1   |
|      0      |   S. B. Mujumdar   | 0.884943181818 |  2   |
|      0      | Chitra Visweswaran | 0.889451476793 |  3   |
|      0      |    Vanley Burke    | 0.890151515152 |  4   |
|      0      |   Jekka McVicar    | 0.890243902439 |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [38]:
x = people[people['name'] == 'Jekka McVicar']

In [39]:
x['text']

dtype: str
Rows: ?
['jessica jekka mcvicar is an english organic gardening expert author and broadcaster particularly on the cultivation and use of herbsjekka was brought up in chew magna somerset and learned about the use of herbs from her grandmother the writer ruth lowinsky and her mother at the age of 17 after leaving cranborne chase school in wiltshire she joined the progressive rock band marsupilami as a singer and flautist under the name jessica stanley clarke the band released two albums appeared at the isle of wight festival and the first glastonbury festival and toured in europeafter working for a time at the drama department of the bbc she began working at a herb nursery in somerset she married mac mcvicar and in 1987 they established a herb farm now known as jekkas herb farm at alveston near bristol they have the largest collection of culinary herbs in the uk with more than 500 different varieties jekka has been awarded 62 royal horticultural society gold medals for her organic herb displays including 14 at the chelsea flower show and best floral exhibit at hampton court in 2007 and 2008 jekka was awarded the rhs lawrence medal 2009 for the best exhibit shown at any rhs show during that year jekka has published several successful books notably jekkas complete herb book and seeds which have been reprinted in association with the royal horticultural society she also regularly contributes to a number of national publications bbc gardeners world magazine bbc good food gardens illustrated and the guardian newspaper as well appearing on many television programmes recently in the great british garden revival december 2013 and mary berry cooks spring 2014 jekka is an elected member of the rhs council the governing body of the rhs responsible for its strategic direction and sits on a number of rhs committees she is also president of the herb society 2013 president of the west of england herb group 2006 and is a member of rhs council 2005 the rhs nominations appointments and governance committee 2009 the rhs fruit vegetable and herb committee 1998 the rhs horticultural board 2010 the joint chairman of the rhs three counties agricultural society joint committee 2011 and is a founder member of the rhs herb advisory group 2011 rhs judge 1999 and chaired the judging of the great pavilion at the chelsea flower show 2012 and 2013jekka was awarded the garden media guild lifetime achievement award for services to horticulture design education and communication and excellence in the field of organic herb growing december 2012jekkas first major cookbook jekkas herb cookbook was published by ebury press in june 2010', ... ]

In [40]:
x['word_count']

dtype: dict
Rows: ?
[{'advisory': 1L, 'hampton': 1L, 'particularly': 1L, 'founder': 1L, 'show': 3L, '2005': 1L, 'illustrated': 1L, 'judge': 1L, 'england': 1L, 'nursery': 1L, 'including': 1L, 'committee': 3L, 'world': 1L, 'agricultural': 1L, 'its': 1L, 'expert': 1L, 'member': 3L, 'now': 1L, 'group': 2L, 'gold': 1L, 'also': 2L, 'writer': 1L, 'flautist': 1L, 'to': 2L, 'board': 1L, 'under': 1L, '2014': 1L, 'has': 2L, '2011': 2L, '2010': 2L, '2013': 2L, '2012': 1L, 'regularly': 1L, 'good': 1L, 'garden': 2L, 'glastonbury': 1L, 'food': 1L, 'press': 1L, 'largest': 1L, 'school': 1L, 'band': 2L, 'they': 2L, '2012jekkas': 1L, 'during': 1L, 'strategic': 1L, 'association': 1L, 'cooks': 1L, 'several': 1L, 'appearing': 1L, 'name': 1L, 'progressive': 1L, 'jekka': 5L, 'joined': 1L, 'broadcaster': 1L, 'excellence': 1L, 'she': 5L, 'rock': 1L, 'chew': 1L, 'married': 1L, 'gardening': 1L, 'spring': 1L, 'national': 1L, 'communication': 1L, 'society': 4L, 'europeafter': 1L, 'design': 1L, 'displays': 1L, 'year': 1L, 'stanley': 1L, 'programmes': 1L, 'best': 2L, 'established': 1L, 'shown': 1L, 'flower': 2L, 'floral': 1L, 'for': 5L, 'cranborne': 1L, 'grandmother': 1L, 'guardian': 1L, 'learned': 1L, 'contributes': 1L, 'jekkas': 3L, 'body': 1L, 'after': 1L, 'recently': 1L, 'jessica': 2L, 'lawrence': 1L, 'herb': 11L, 'governing': 1L, 'notably': 1L, 'growing': 1L, 'appointments': 1L, 'magna': 1L, 'guild': 1L, 'by': 1L, 'counties': 1L, 'on': 3L, 'about': 1L, 'organic': 3L, 'her': 3L, 'many': 1L, 'british': 1L, 'leaving': 1L, 'drama': 1L, 'magazine': 1L, 'seeds': 1L, 'berry': 1L, 'bristol': 1L, 'published': 2L, '2013jekka': 1L, 'first': 2L, 'exhibit': 2L, 'major': 1L, 'appeared': 1L, 'royal': 2L, 'chaired': 1L, 'number': 2L, 'three': 1L, 'brought': 1L, 'gardeners': 1L, '62': 1L, 'governance': 1L, 'horticultural': 3L, 'horticulture': 1L, '1987': 1L, 'use': 2L, 'from': 1L, 'working': 2L, 'culinary': 1L, 'festival': 2L, 'medal': 1L, 'bbc': 3L, 'two': 1L, 'been': 2L, 'awarded': 3L, 'cultivation': 1L, 'west': 1L, 'judging': 1L, 'somerset': 2L, 'was': 4L, 'mary': 1L, '500': 1L, 'more': 1L, 'direction': 1L, 'complete': 1L, 'that': 1L, 'successful': 1L, 'great': 2L, 'award': 1L, 'released': 1L, 'wight': 1L, 'department': 1L, 'known': 1L, 'albums': 1L, 'with': 2L, 'than': 1L, 'lowinsky': 1L, 'pavilion': 1L, '14': 1L, '17': 1L, 'elected': 1L, '1999': 1L, '1998': 1L, 'up': 1L, 'near': 1L, 'books': 1L, 'publications': 1L, 'uk': 1L, 'of': 18L, 'newspaper': 1L, 'nominations': 1L, 'chelsea': 2L, 'age': 1L, 'and': 22L, 'council': 2L, 'december': 2L, 'is': 5L, 'an': 2L, 'as': 3L, 'revival': 1L, 'at': 9L, 'have': 2L, 'in': 11L, 'lifetime': 1L, 'education': 1L, 'television': 1L, 'any': 1L, 'chase': 1L, 'different': 1L, 'sits': 1L, 'court': 1L, 'author': 1L, 'media': 1L, 'clarke': 1L, 'responsible': 1L, 'ebury': 1L, 'field': 1L, 'book': 1L, 'chairman': 1L, 'which': 1L, 'toured': 1L, 'vegetable': 1L, 'ruth': 1L, 'isle': 1L, 'medals': 1L, 'time': 1L, 'farm': 2L, 'rhs': 12L, 'english': 1L, 'june': 1L, 'committees': 1L, 'collection': 1L, 'herbs': 2L, 'mac': 1L, 'fruit': 1L, 'services': 1L, 'president': 2L, 'mcvicar': 2L, '2008': 1L, 'achievement': 1L, 'began': 1L, 'a': 8L, 'singer': 1L, '2009': 2L, 'wiltshire': 1L, 'varieties': 1L, 'joint': 2L, 'alveston': 1L, 'well': 1L, 'marsupilami': 1L, '2006': 1L, '2007': 1L, 'mother': 1L, 'herbsjekka': 1L, 'the': 35L, 'cookbook': 2L, 'gardens': 1L, 'reprinted': 1L}, ... ]

In [41]:
x_wc_table = x[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [42]:
x_wc_table.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+-----------+-------+
|    word   | count |
+-----------+-------+
|    june   |   1   |
|   ebury   |   1   |
|  services |   1   |
|  lifetime |   1   |
|   guild   |   1   |
|   media   |   1   |
| 2013jekka |   1   |
|  pavilion |   1   |
|  judging  |   1   |
|   judge   |   1   |
+-----------+-------+
[10 rows x 2 columns]

In [43]:
##ASSIGNMENT

In [44]:
# Now, take a particular famous person, 'Elton John'. What are the 3 words in his articles with highest word counts?
#What are the 3 words in his articles with highest TF-IDF? These results illustrate why TF-IDF is useful for finding important words. 
#Save these results to answer the quiz at the end.

In [45]:
elton_john = people[people['name'] == 'Elton John']

In [46]:
elton_john.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict
	indian	int

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+--------+
|           word_count          |             tfidf             | indian |
+-------------------------------+-------------------------------+--------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |   0    |
+-------------------------------+-------------------------------+--------+
[1 rows x 6 columns]

In [48]:
elton_john_wct = elton_john[['word_count']].stack('word_count',new_column_name = ['word','count'])

In [49]:
elton_john_wct.head()

Columns:
	word	str
	count	int

Rows: 10

Data:
+-----------+-------+
|    word   | count |
+-----------+-------+
| movements |   1   |
|   social  |   1   |
|  champion |   1   |
|    wed    |   1   |
|   legal   |   1   |
|   became  |   1   |
|   after   |   1   |
|    2005   |   1   |
|  december |   2   |
|  furnish  |   2   |
+-----------+-------+
[10 rows x 2 columns]

In [51]:
elton_john_wct.sort('count' , ascending = False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [53]:
elton_john_tfidf =elton_john[['tfidf']].stack('tfidf',new_column_name = ['word','tfidf'])

In [54]:
elton_john_tfidf.sort('tfidf' , ascending = False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [55]:
#Measuring distance: Elton John is a famous singer; 
#lets compute the distance between his article and those of two other famous singers. 
#In this assignment, you will use the cosine distance, which one measure of similarity between vectors, 
#You can compute this distance using the graphlab.distances.cosine function. 
#Whats the cosine distance between the articles on Elton John and Victoria Beckham? 
#Whats the cosine distance between the articles on Elton John and Paul McCartney? 
#Which one of the two is closest to Elton John? Does this result make sense to you? Save these results to answer the quiz at the end

In [56]:
victoria = people[people['name'] == 'Victoria Beckham']

In [57]:
paul = people[people['name'] == 'Paul McCartney']

In [59]:
graphlab.distances.cosine(elton_john['tfidf'][0],victoria['tfidf'][0])

0.9567006376655429

In [60]:
graphlab.distances.cosine(elton_john['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

In [63]:
knn_model.query(elton_john).show()

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.994ms      |

| Done         |         | 100         | 356.498ms    |

+--------------+---------+-------------+--------------+

Canvas is accessible via web browser at the URL: http://localhost:56958/index.html
Opening Canvas in default web browser.

In [64]:
#Building nearest neighbors models with different input features and setting the distance metric:
#In the sample notebook, we built a nearest neighbors model for retrieving articles using TF-IDF as features
#and using the default setting in the construction of the nearest neighbors model. 
#Now, you will build two nearest neighbors models:Using word counts as featuresUsing TF-IDF as features

In [69]:
nnm_wc = graphlab.nearest_neighbors.create(people, features = ['word_count'] , label = 'name' , distance = 'cosine')

Starting brute force nearest neighbors model training.

In [70]:
nnm_wc_tf = graphlab.nearest_neighbors.create(people, features = ['tfidf'] , label = 'name' , distance = 'cosine')

Starting brute force nearest neighbors model training.

In [71]:
#Whats the most similar article, other than itself, to the one on Elton John using word count features

In [72]:
nnm_wc.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.997ms      |

| Done         |         | 100         | 350.783ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [74]:
nnm_wc_tf.query(elton_john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.993ms     |

| Done         |         | 100         | 371.395ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [75]:
nnm_wc.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 15.622ms     |

| Done         |         | 100         | 298.86ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [76]:
nnm_wc_tf.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.993ms     |

| Done         |         | 100         | 391.758ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]