In [1]:
import graphlab

In [2]:
import os

In [3]:
print os.getcwd()

C:\Users\bhavi

In [1]:
sf = graphlab.SFrame('people-example.csv')

NameError: name 'graphlab' is not defined

In [5]:
#Sframebasic

In [6]:
sf #we can view first few lines of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
sf.head

<bound method SFrame.head of Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]
>

In [8]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
#Graphlab Canvas

In [10]:
#Take any data structure that Graphlab creates

In [11]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:55346/index.html
Opening Canvas in default web browser.

In [12]:
graphlab.canvas.set_target('ipynb')

In [13]:
sf['age'].show(view = 'Categorical')

In [14]:
sf['age'].show(view = 'Numeric')

In [15]:
#inspect some colums of dataset

In [16]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [17]:
sf['Age']

RuntimeError: Runtime Exception. Column name Age does not exist.

In [ ]:
sf['age']

In [ ]:
sf['age'].mean()

In [ ]:
sf['age'].max()

In [ ]:
#create new columns in sframe

In [ ]:
sf

In [ ]:
sf['Fullname'] = sf['First Name']+ sf['Last Name']

In [ ]:
sf

In [ ]:
#use apply function to do advance transformation to our dataset

In [ ]:
sf['Country']

In [ ]:
sf['Country'].show()

In [ ]:
def transform_country(Country):
    if Country == 'USA' or 'United States':
        return('United States America')
    else:
        return(Country)

In [ ]:
transform_country('USA')

In [ ]:
transform_country('India')

In [ ]:
sf[Country] = sf.apply(transform_country)

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)